
<div class="page-header">
  <h1>Lovely Pets <small>Subtext for head</small></h1>
</div>

<div class="species">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Cats</a></li>
    <li role="presentation"><a href="#">Dogs</a></li>
    <li role="presentation"><a href="#">Birds</a></li>
    <li role="presentation"><a href="#">Hedgehog</a></li>
  </ul>
</div>

