
<div class="page-header">
  <h1>Lovely Pets <small>Subtext for head</small></h1>
</div>

<div class="species">
  <ul class="nav nav-pills nav-stacked">
    <% @categories.each do |category| %>
    <li role="presentation" ><%= link_to category.name, category_path(category.id) %></li>
    <% end %>
  </ul>
</div>
